<!-- templates/mysite/content_detail.html -->
{% extends 'base.html' %}
{% block content %}
<h2>{{ content.title }}</h2>
<div>
    {{ content.content }}
</div>
<section class="mb-5">
    <div class="card bg-light">
        <div class="card-body">
            <!-- 댓글 작성 폼 -->
            <form method="post" class="mb-4" action="{% url 'comment_create' content.id %}">
                {% csrf_token %}
                <textarea id="content" name="content" class="form-control" rows="3" placeholder="내용을 입력해주세요."></textarea>
                <button type="submit" class="btn btn-primary">submit</button>
            </form>

            <!-- 댓글 목록 -->
            {% for comment in content.comments.all %}
            <div class="d-flex">
                <div class="ms-3">
                    <div class="fw-bold">{{ comment.author.username }} &nbsp;&nbsp; {{ comment.create_date }}
                         {% if comment.create_date != comment.modify_date %}
                            / 수정일자: {{ comment.modify_date }}
                         {% endif %}
                         {% if request.user == comment.author %}
                         <!-- 댓글 수정 버튼 -->
                         <a href="{% url 'comment_update' comment.id %}" class="btn btn-sm btn-outline secondary">수정</a>
                         <!-- 댓글 삭제 버튼 -->
                         <a href="{% url 'comment_delete' comment.id %}" class="btn btn-sm btn-outline secondary">삭제</a>
                         {% endif %}
                    </div>
                    {{ comment.content }}
                </div>
            </div>
            <br/>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
